<p>
A e-mail has been sent to the specified address <br/>
Check your inbox and confirm the suscription by clicking the link in the mail

<a href="http://taller7545.herokuapp.com/pre_registrations/confirm/<%= @preregistration.confirm_token %>">click here</a>

</p>
