			  <div class='form_container'><p>

<%= form_for(@pre_registration) do |f| %>
			    Pre-registracion: las primeras 1000 registraciones obtendran una cuenta premium<br /><br />
			    
			    e-mail:
			    <%= f.text_field :email %>
			    <%= f.submit "Enviar" %>
<% end %>
			  </p>
			  </div>
