<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	
<h1> Bienvenido a viajando.com </h1>
	
<p> 
    Este es el mail de registracion, para completar su registracion en el sitio haga click en el siguiente enlace:
</p>
<a href=@confirm_url>@confirm_url</a>

No responda a este e-mail, si el mismo no fue solicitado, por favor ignorelo
</body>
</html>