// Place all the styles related to the pre_registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image:url('/background/01.jpg');
  background-size: 100% auto;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#maindiv {
  height: 100%;
}

.icon_img {
width: 50%;
}

#pre_registration_email {
  width: 60%;
}

#uppertrdiv {
  height: 40%;
}

#centertr {
  height: 20%;
}

#lefttddiv {
  width: 25%;
}

.icon_td {
text-align: center ; 
  width: 10%;  
}


#center_cell{
  width: 30%;  
}

#righttddiv {
  width: 25%;
}
